

.haveAnAccount, 
.needAnAccount{
  text-decoration: none;
  color:"#5CB85C" !important;
}
.haveAnAccount:hover, 
.needAnAccount:hover{
  text-decoration: underline;
}

/* .parabottom::after{
  content: "";
  position: absolute;
  background-color:rgb(30, 166, 30);
  width: 97px;
  height: 2px;
  bottom: 0;
  left: 0;
} */

/* .parabottom{
  border-bottom: green 1px solid !important;
} */

.webkitBox{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
   white-space: normal;
   overflow: hidden;
}